src/main/mule/demo-jenkins-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8d3b8164-bd9b-48a1-9cae-c1c59737b8ad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-jenkins-implFlow" doc:id="6155b281-b2f7-4f7c-9532-2d269e19be81" >
		<http:listener doc:name="Listener" doc:id="f41aba04-2589-47c3-a1e9-de074182bca8" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="3168757a-a323-454c-ba3d-b0fd1e1bc998" message="Request is receviedd"/>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="a01765e0-9850-4391-866b-f7b21c14ba21" />
	</flow>
</mule>
